doctype html
html
  head
    title Our Customers
    style.
      /* Custom CSS for styling */
      body {
        font-family: 'Arial', sans-serif;
        background-image: url('https://images.app.goo.gl/57N14xCeycYq7NkK6'); 
        background-size: cover; 
        background-position: center center; 
        background-attachment: fixed; 
        color: #fff; 
      }
      .container {
        border-radius: 8px;
        padding: 20px;
      }
      .text-center {
        color: #ff0062;
        margin-bottom: 20px;
        margin-left: 25rem;
        font-size: 5rem;
      }
     
   
      .points{
        background-color: #28a745;
        color: #fff;
        text-align: center;
        padding: 40px 16px;
        border-radius: 60px;
        text-decoration: none;
        font-weight: bold;
        font-size:2rem
      }
  body
    .container.mt-4
      h1.text-center Hi,#{cusName}
      p.points You have #{points} points
  
