doctype html
html
  head
    title Our Customers
    style.
      /* Custom CSS for styling */
      body {
        font-family: 'Arial', sans-serif;
        background-image: url('https://media.istockphoto.com/id/1438530555/photo/empty-charcuterie-small-business-concepts.jpg?s=1024x1024&w=is&k=20&c=lX3t64iBj40us2MRy1pif6PaJL4FaU30R4rOR4Q78_4='); 
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        color: #fff;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 20px;
      }
      .container {
        border-radius: 12px;
        padding: 30px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        width: 100%;
        max-width: 800px;
        margin-bottom: 40px;
        background-size: cover;
        background-position: center center;
      }
      .header {
        color: #fff;
        margin-bottom: 20px;
        font-size: 4.5rem;
      }
      .points {
        background-color: #040505;
        color: #fff;
        display: inline-block;
        padding: 15px 30px;
        border-radius: 50px;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.8rem;
        margin-top: 20px;
        transition: background-color 0.3s ease;
      }
      
      .offers {
        background-color:#b6ac82b8; /* Slightly transparent white */
        padding: 20px;
        border-radius: 10px;
        margin-top: 30px;
        font-weight: bold;
        font-size :2.5rem
      }
      .offers h2 {
        color: #fff;
        margin-bottom: 15px;
        font-weight: bold;
        font-size :1.5rem
      }
      .offers p {
        font-size: 1.2rem;
        color: #040505;
        font-weight: bold;
        font-size :1.5rem
      }
  body
    .container
      h1.header Hi, #{cusName}
      p.points You have #{points} points
    .offers
      h2 Special Offers Just for You!
      p 1. Earn double points on all purchases made this week!
      p 2. Exclusive discounts on select items – up to 30% off!
      p 3. Refer a friend and get 100 bonus points for each successful referral.
      p 4. Sign up for our newsletter and receive a 10% off coupon for your next order.
