// confirmation.pug
doctype html
html
  head
    title Password Set / New User Added
    style.
      body
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      .container
        background-color: #ffffff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
      h1
        font-size: 24px;
        color: #333;
      p
        font-size: 18px;
        margin-bottom: 20px;
      button
        background-color: #1f1d1c;
        color: white;
        font-size: 16px;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
      button:hover
        background-color: #333;
  body
    .container
      p #{message}
      button(onclick="window.location.href='/login'") Go to Login
