doctype html
html
  head
    title Loyalty Points Login
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #ae6c26de;
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('https://media.istockphoto.com/id/1438530555/photo/empty-charcuterie-small-business-concepts.jpg?s=1024x1024&w=is&k=20&c=lX3t64iBj40us2MRy1pif6PaJL4FaU30R4rOR4Q78_4='); /* Optional background image */
        background-size: cover;
        background-position: center;
      }

      .form-container {
        background-color: #ffffff;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 400px;
        text-align: center;
        box-sizing: border-box;
      }

      h1 {
        font-size: 28px;
        color: #1f1d1c;
        margin-bottom: 20px;
        font-weight: bold;
      }

      label {
        display: block;
        font-size: 14px;
        color: #1f1d1c;
        margin-bottom: 5px;
        text-align: left;
        font-weight: bold;
      }

      input[type="text"], input[type="password"] {
        width: 100%;
        padding: 12px;
        margin: 10px 0 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        background-color: #f9f9f9;
        transition: border-color 0.3s ease;
      }

      input[type="text"]:focus, input[type="password"]:focus {
        outline: none;
        border-color: #1f1d1c;
        background-color: #ffffff;
      }

      button[type="submit"] {
        background-color: #1f1d1c;
        color: #ffffff;
        padding: 12px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s ease;
        font-weight: bold;
      }

      button[type="submit"]:hover {
        background-color: #1f1d1c;
      }

      /* Responsive design */
      @media (max-width: 480px) {
        .form-container {
          padding: 20px;
        }

        h1 {
          font-size: 24px;
        }

        input[type="text"], input[type="password"] {
          padding: 10px;
          font-size: 14px;
        }

        button[type="submit"] {
          padding: 10px 15px;
        }
      }

  body
    .form-container
      h1 Loyalty Points
      form(action='/points/:username', method='POST')
        div
          label(for='username') Username:
          input(type='text', id='username', name='username', required)

        div
          label(for='password') Password:
          input(type='password', id='password', name='password', required)

        div
          button(type='submit') Login
