block content
    h1 Register here
    form(action='/set-password' method='POST')
       label(for='name') Enter your Fullname:
       input(name='name' type='text')

       label(for='email') Enter your email:
       input(name='email' type='email')

       label(for='password') Enter your password:
       input(name='password' type='password')

       input(type='submit' value='Submit')