doctype html
html
  head
    title Our Customers
    style.
      /* Custom CSS for styling */
      body {
        font-family: 'Arial', sans-serif;
        background-image: url('https://media.istockphoto.com/id/1438530555/photo/empty-charcuterie-small-business-concepts.jpg?s=1024x1024&w=is&k=20&c=lX3t64iBj40us2MRy1pif6PaJL4FaU30R4rOR4Q78_4='); 
        background-size: cover; 
        background-position: center center; 
        background-attachment: fixed; 
        color: #fff; 
      }
      .container {
        border-radius: 8px;
        padding: 20px;
      }
      .text-center {
        color: #f00909;
        margin-bottom: 20px;
        margin-left: 28rem;
        font-size: 5rem;
        font-weight :bold
      }
      .list-group-item {
        font-size: 3rem;
        color: #82878d00;
        padding: 20px;
        margin: 5px 0;
        border-radius: 4px;
        transition: background-color 0.3s;
        font-weight :bold;
        
      }
      .list-group {
        margin-left: 29rem;
        margin-top: 5rem;
      }
      //- .list-group-item:hover {
      //-   background-color: #d1d6ddb3;
      //- }
      .btn {
        background-color: #121312;
        color: #fff;
        text-align: center;
        padding: 8px 16px;
        border-radius: 4px;
        text-decoration: none;
        font-weight: bold;
      }
  body
    .container.mt-4
      h1.text-center Our Customers
      ul.list-group
        each user in users
          li.list-group-item
            a.btn(href="/aboutUs", name=user.name) #{user.name}
